body {
  background: orange;
}

@keyframes first {
  0% {
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: aqua;
  }
  25% {
    left: 25px;
    top: 25px;
    right: 0px;
    bottom: 0px;
  }

  50% {
    bottom: 25px;
    left: 25;
    top: 25px;
    right: 0px;
  }

  75% {
    right: 25px;
    bottom: 25px;
    left: 25;
    top: 25px;
  }

  100% {
    background-color: red;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
  }
}

.animation {
  display: block;
  width: 100px;
  height: 100px;
  position: relative;
  background-color: red;
  animation-name: first;
  animation-duration: 4s;
}
